@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access no permitido";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Se requiere el Rol de Admin para ésta vista.</p>
</header>
